*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, purple, teal )
}

.calculator-grid {
   
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
   margin: 5px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-size: 2.5rem;
    border: none;
    outline: none;
    background-color:rgba(0, 0, 0, 0.75);
}

.span-two {
    grid-column: span 2;
}

.calculator-grid > button:hover {
    color: black;
    background-color:rgba(255, 255, 255, 0.55);
}

.output {
    border-radius: 25px;
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 2.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-result {
    color: rgba(255, 255, 255, 0.55);
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    margin: 25%;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    border: 2px black;
    line-height: 2;
    padding: 20px;
    font-size: 1.5rem;
}



a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(255, 255, 255, 0.5);
      
}
